@model Bulky.Models.ViewModel.ProductVM;

<br />
<div class="card shadow border-0 mt-4 py-2">
    <div class="card-header bg-secondary ml-0 py-3">
        <div class="row">
            <div class="col-12 text-starts">
                <h2 class="text-dark p-4"> Create Product</h2>

            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            @* Enctype Importante en EFC para que reciba la imagen y la pueda duplicar en el Controller*@
            <div class="border p-3 mt-4">

                <div asp-validation-summary="All"> </div>
                <div class="mb-3 row p-1">
                    <label asp-for="product.Title" class="ms-0"></label>
                    <input asp-for="product.Title" type="text" class="form-control border-4 shadow" />
                    <span asp-validation-for="product.Title" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="product.Description" class="ms-0"></label>
                    <textarea asp-for="product.Description" class="form-control border-4 shadow"></textarea>
                    <span asp-validation-for="product.Description" class="text-danger"></span>
                </div>



                <div class="mb-3 row p-1">
                    <label asp-for="product.Author" class="ms-0"></label>
                    <input asp-for="product.Author" class="form-control border-4 shadow" />
                    <span asp-validation-for="product.Author" class="text-danger"></span>
                </div>


                <div class="mb-3 row p-1">
                    <label asp-for="product.ISBN" class="ms-0"></label>
                    <input asp-for="product.ISBN" class="form-control border-4 shadow" />
                    <span asp-validation-for="product.ISBN" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="product.ListPrice" class="ms-0"></label>
                    <input type="number" asp-for="product.ListPrice" class="form-control border-4 shadow" />
                    <span asp-validation-for="product.ListPrice" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="product.Price" class="ms-0"></label>
                    <input type="number" asp-for="product.Price" class="form-control border-4 shadow" />
                    <span asp-validation-for="product.Price" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="product.Price50" class="ms-0"></label>
                    <input type="number" asp-for="product.Price50" class="form-control border-4 shadow" />
                    <span asp-validation-for="product.Price50" class="text-danger"></span>
                </div>


                <div class="mb-3 row p-1">
                    <label asp-for="product.Price100" class="ms-0"></label>
                    <input type="number" asp-for="product.Price100" class="form-control border-4 shadow" />
                    <span asp-validation-for="product.Price100" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="product.CategoryId" class="ms-0"></label>
                    <select asp-for="product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-4 shadow">
                        <option disabled selected></option>
                    </select>
                    <span asp-validation-for="product.CategoryId" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="product.ImageUrl" class="ms-0"></label>
                    <input type="file" name="file" class="form-control border-4 shadow" />
                    <span asp-validation-for="product.ImageUrl" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-dark form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">
                            Back To List
                        </a>
                    </div>
                </div>



            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />
<br />

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}