@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfuly </h1>
        Your Order Number is : @Model <br /><br />
        <img src="https://images7.memedroid.com/images/UPLOADED418/640cd7e38bdf9.webp" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        YOUR ORDER HAS BEEN PLACED SUCCESSFULLY! <br />
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />