@using Kombox.Models.Models;
@model Company

<div class="card shadow border-0 mt-4 py-2">
    
    <div class="card-header bg-secondary ml-0 py-3">
        <div class="row">
            <div class="col-12 text-starts">
                <h2 class="text-dark p-4"> Edit Company</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3 mt-4">
                <div asp-validation-summary="All"> </div>
                <div class="mb-3 row p-1" hidden>
                    <label asp-for="CompanyId" class="p-0 border-4 shadow"></label>
                    <input asp-for="CompanyId" type="text" class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="CompanyName" class="ms-0"></label>
                    <input asp-for="CompanyName" type="text" class="form-control border-4 shadow" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="StreetAddress" class="ms-0"></label>
                    <input asp-for="StreetAddress" class="form-control border-4 shadow" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="City" class="ms-0"></label>
                    <input asp-for="City" class="form-control border-4 shadow" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="State" class="ms-0"></label>
                    <input asp-for="State" class="form-control border-4 shadow" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="PostalCode" class="ms-0"></label>
                    <input asp-for="PostalCode" class="form-control border-4 shadow" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="PhoneNumber" class="ms-0"></label>
                    <input asp-for="PhoneNumber" class="form-control border-4 shadow" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-dark form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Admin" asp-controller="Company" asp-action="Index" class="btn btn-outline-secondary form-control">
                            Back To List
                        </a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}